version: '3.8'

services:
  app:
    build: .
    container_name: spring-boot-app
    ports:
      - "8081:8080"
      - "9404:9404"
    environment:
      - JAVA_OPTS=-javaagent:/jmx_exporter.jar=9404:/config/jmx_exporter_config.yaml
    depends_on:
      - prometheus
      - grafana
      - nginx

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - '--web.external-url=https://siavl-api-atdremoto-des.apps.nprd.caixa/prometheus'
      - '--web.route-prefix=/'

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
      - GF_SERVER_ROOT_URL=https://siavl-api-atdremoto-des.apps.nprd.caixa/grafana
    volumes:
      - ./grafana-datasource.yml:/etc/grafana/provisioning/datasources/grafana-datasource.yml
    depends_on:
      - prometheus

  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "443:443"
    depends_on:
      - app
      - grafana
      - prometheus