global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['app:8081']

  - job_name: 'jmx-metrics'
    static_configs:
      - targets: ['app:9404']
