<configuration>
    <logger name="com.github.tomakehurst.wiremock" level="OFF" />
    <logger name="wiremock.org.eclipse.jetty" level="OFF" />
    <logger name="org.eclipse.jetty" level="OFF" />
    <logger name="org.springframework" level="ERROR" />
    <root level="ERROR">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>